<!DOCTYPE html>
<html>
	<head>
 		<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
 		<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
 		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
	</head>
	<body>
		<h2><a href="http://www.taste.com.au/recipes/quick-cook-chicken-risotto/09db974a-678c-4e42-ba62-7825d4bc1d32">This one is for Chicken Risotto</a></h2>
	<p>
		<dl>
			<dt>Ingredients:</dt>
				<dd>- 1 Tablespoon Of Olive Oil</dd>
				<dd>- 1 Brown Onion, Finely Chopped</dd>
				<dd>- 400g Of Diced, Fat-Trimmed Chicken Thigh Fillets</dd>
				<dd>- 2 Garlic Cloves, Crushed</dd>
				<dd>- 250g of SunRice Arborio Risotto Rice</dd>
				<dd>- 125ml of White Wine</dd>
				<dd>- 600ml of Massel Salt Reduced Chicken Style Liquid Stock</dd>
				<dd>- 25g of Grated Parmesan Cheese, Plus 2 Tablespoons To Serve</dd>
				<dd>- 200g Sweet Corn Kernels</dd>
				<dd>- 200g of Halved Grape Tomatoes</dd>
				<dd>- 75g of Baby Spinach Leaves</dd>
		</dl>
	</p>
	<p>
		<dl>
				<dt>Recipe:</dt>
				<dd>Step 1 - Heat oil in a large heavy based saucepan over medium-high heat.</dd>
				<dd>Step 2 - Cook onion and chicken stirring occasionally, for 3-4 minutes, or until golden.</dd>
				<dd>Step 3 - Add garlic and cook for 30 seconds.</dd>
				<dd>Step 4 - Add rice and stir to coat grains in oil.</dd>
				<dd>Step 5 - Add wine and simmer for 1 minute until absorbed.</dd>
				<dd>Step 6 - Add stock and bring to the boil.</dd>
				<dd>Step 7 - Cover, reduce heat to low and simmer for 10-12 minutes or until rice is al dente and stock is absorbed.</dd>
				<dd>Step 8 - Stir in cheese, corn, tomatoes and spinach.</dd>
				<dd>Step 9 - Season</dd>
				<dd>Step 10 - Cover and set aside for 2 minutes.</dd>
				<dd>Step 11 - Serve immediately garnished with extra cheese.</dd>
			</dl>
		</p>
	</body>
</html>
